@import "./helpers/vars.scss";
@import "./helpers/libs.scss";
@import "./helpers/mixins.scss";
@import "./base/base.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/radio.scss";
@import "./blocks/input.scss";
@import "./blocks/fixed.scss";
@import "./blocks/buttons.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/template.scss";
@import "./blocks/price.scss";
@import "./blocks/sidebar-menu.scss";
@import "./blocks/testMenu.scss";
@import "./blocks/requisites.scss";

