@import "./helpers/vars.scss";
@import "./helpers/libs.scss";
@import "./helpers/mixins.scss";
@import "./base/base.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/fixed.scss";
@import "./blocks/buttons.scss";
@import "./blocks/header.scss";
@import "./blocks/intro.scss";
@import "./blocks/advanture.scss";
@import "./blocks/catalog.scss";
@import "./blocks/calculators.scss";
@import "./blocks/footer.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/sorting.scss";
@import "./blocks/products.scss";
@import "./blocks/page-pagination.scss";
@import "./blocks/watched.scss";
@import "./blocks/card-info.scss";