@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './normalize.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $montserrat;
    &::before, &::after{
        box-sizing: border-box;
    }
}

html, body{
    min-height: 100%;
    color: $black33;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    padding: 0;
    margin: 0;
}
.page{
    overflow: hidden;
}
.container{
    max-width: 1170px!important;
    margin: auto;
    padding: 0px;
    @media(max-width: 1170px){
        padding-left: 15px;
        padding-right: 15px;
    }
}



input{
    outline:none;
}
button{
    outline: none!important;
}
input::placeholder{
    color: $black33;
}

input:focus::placeholder{
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a:hover{
    color: inherit;
    text-decoration: inherit;
}
img{
    display: block;
}
label{
    margin: 0px;
}
.show{
    display: block!important;
}
.hide{
    display: none!important;
}
.arrow--active{
    &::before{
      transform: rotate(180deg) translateY(1px)!important;
    }
  }
  .arrow--inactive{
    &::before{
      transform: rotate(180deg) translateY(1px)!important;
    }
  }

.input-error{
    border: 1px solid $redEB!important;
    &::placeholder{
        color: $redEB;
    }
}

.input-error-text{
    color: #D02D42!important;
  }
  