//fonts
$montserrat: 'Montserrat', sans-serif;

//colors
$orangeF1: #F1971E;
$black33: #333;
$grey77: #777;
$greyAA: #AAA;
$green21: #219653;
$greyBD: #BDBDBD;
$white: #fff;
$whiteF6: #F6F6F6;
$whiteF7: #F7F7F7;
$whiteF2 : #F2F2F2;
$whiteEC : #FFF6EC;
$orangeGradient: linear-gradient(85.73deg, #F7BB11 2.98%, #F1971E 100%);

//window
$xl: 1199px;
$lg: 991px;
$md: 768px;
$sm: 575px;
