.link-shopping{
  & a{
    padding: 16px 63px 17px 32px; 
    border-radius: 6px;
    background: $orangeGradient;
    color: $whiteF7;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    @media(max-width:540px){
      font-size: 14px;
      padding: 10px 43px 10px 20px;
    }
    &::before{
      content: '';
      position: absolute;
      background-image: url('../assets/icon/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 17px;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      @media(max-width: 540px){
        width: 12px;
        height: 11px;
        right: 22px;
      }
    }
  }
}

.link-catalog{
  position: relative;
  display: inline-block;
  & a{
    padding: 16px 63px 17px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $orangeF1;
    border: 2px solid $orangeF1;
    border-radius: 6px;
    position: relative;
    display: inline-block;  
    @media(max-width:540px){
      font-size: 14px;
      padding: 6px 41px 6px 18px;
    }
  }
  & svg{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: $orangeF1;
    @media(max-width:540px){
      width: 17px;
      height: 17px;
    }
  }
  &:hover a{
    border: none;
    padding: 18px 65px 19px 34px;
    background: $orangeGradient;
    color: $white;
  }
  &:active a{
  }
  &:hover svg{
    fill: $white;
    transform: translate(-1px, -50% )
  }
}

.button-buy{
  position: relative;
  display: inline-block;
  cursor: pointer;
  & span{
    padding: 11px 60px 12px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $orangeF1;
    border: 1px solid $orangeF1;
    border-radius: 6px;
    position: relative;
    display: inline-block;  
    // @media(max-width:540px){
    //   font-size: 14px;
    //   padding: 6px 41px 6px 18px;
    // }
    @media(max-width:540px){
    }
  }
  & svg{
    position: absolute;
    top: 50%;
    right: 22%;
    transform: translateY(-56%);
    width: 22px;
    height: 22px;
    fill: $orangeF1;
    @media(max-width:540px){
      
    }
  }
  &:hover span{
    border: none;
    padding: 12px 61px 13px 31px;
    background: $orangeGradient;
    color: $white;
  }
  &:active a{
    
  }
  &:hover svg{
    fill: $white
  }
  &--small{
    position: relative;
    &::before{
      content: 'Купить';
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(30%,-130%);
      background: $white;
      box-shadow: 0px 8px 24px rgba(119, 119, 119, 0.06), 0px 0px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.02);
      border-radius: 6px;
      padding: 7px 20px;
      z-index: 1;
      visibility: hidden;
    }
    &::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateY(-200%);
      background: $white;
      border-right: .5px solid rgba(119, 119, 119, 0.06);
      border-bottom: .5px solid rgba(119, 119, 119, 0.06);
      left: 10px;
      z-index: 2;
      visibility: hidden;
    }
    &:hover::before{
      visibility: visible;
    }
    &:hover::after{
      visibility: visible;
    }
    
    & span{
      padding: 0;
      width: 65px;
      height: 56px;
    }
    &:hover span{
      border: none;
      padding: 0;
      background: $orangeGradient;
      color: $white;
    }
    svg{
      top: 50%;
      right: 50%;
      transform: translate(-40%, -60%);
    }
    
   
  }
}

.button-default{
  color: $orangeF1;
  border: 1px solid $orangeF1;
  border-radius: 6px;
  padding: 16px 32px 16px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: $white;
  outline: none;
  &:hover{
    padding: 17px 33px 17px 33px;
    border: none;
    background: $orangeGradient;
    color: $white;
    outline: none;
  }
}

.button-cart{
  position: relative;
  display: inline-block;
  & a{
    padding: 11px 48px 12px 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $black33;
    border: 1px solid $black33;
    border-radius: 6px;
    position: relative;
    display: inline-block;  
    // @media(max-width:540px){
    //   font-size: 14px;
    //   padding: 6px 41px 6px 18px;
    // }
    @media(max-width:540px){
    }
  }
  & svg{
    position: absolute;
    top: 50%;
    right: 10%!important;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    fill: $black33;
    @media(max-width:540px){
      
    }
  }
  &:hover a{
    border: 1px solid $orangeF1;
    color: $orangeF1;

  }
  &:active a{
    
  }
  &:hover svg{
    fill: $orangeF1;

  }
  &--small{
    &::before{
      content: 'Перейти в корзину';
      font-size: 12px;
      line-height: 110%;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(30%,-130%);
      background: $white;
      box-shadow: 0px 8px 24px rgba(119, 119, 119, 0.06), 0px 0px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.02);
      border-radius: 6px;
      padding: 7px 20px;
      text-align: center;
      width: 110px;
      z-index: 1;
      visibility: hidden;
    }
    &::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateY(-230%);
      background: $white;
      border-right: .5px solid rgba(119, 119, 119, 0.06);
      border-bottom: .5px solid rgba(119, 119, 119, 0.06);
      left: 10px;
      z-index: 2;
      visibility: hidden;
    }
    &:hover::before{
      visibility: visible;
    }
    &:hover::after{
      visibility: visible;
    }
    & a{
      padding: 0;
      width: 65px;
      height: 56px;
    }
    
    svg{
      top: 50%;
      right: 50%;
      transform: translate(-65%, -50%);
    }
   
   
  }
  
}