.link-shopping{
  & a{
    padding: 16px 63px 17px 32px; 
    border-radius: 50px;
    background: $orangeGradient;
    color: $whiteF7;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    @media(max-width:540px){
      font-size: 14px;
      padding: 10px 43px 10px 20px;
    }
    &::before{
      content: '';
      position: absolute;
      background-image: url('../assets/icon/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 17px;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      @media(max-width: 540px){
        width: 12px;
        height: 11px;
        right: 22px;
      }
    }
  }
}

.link-catalog{
  position: relative;
  display: inline-block;
  & a{
    padding: 16px 63px 17px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $orangeF1;
    border: 2px solid $orangeF1;
    border-radius: 6px;
    position: relative;
    display: inline-block;  
    @media(max-width:540px){
      font-size: 14px;
      padding: 6px 41px 6px 18px;
    }
  }
  & svg{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: $orangeF1;
    @media(max-width:540px){
      width: 17px;
      height: 17px;
    }
  }
  &:hover a{
    background: $orangeGradient;
    color: $white;
  }
  &:active a{
    
  }
  &:hover svg{
    fill: $white
  }
}

.button-buy{
  position: relative;
  display: inline-block;
  & a{
    padding: 11px 60px 12px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $orangeF1;
    border: 1px solid $orangeF1;
    border-radius: 6px;
    position: relative;
    display: inline-block;  
    @media(max-width:540px){
      font-size: 14px;
      padding: 6px 41px 6px 18px;
    }
  }
  & svg{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-56%);
    width: 22px;
    height: 22px;
    fill: $orangeF1;
    @media(max-width:540px){
      width: 17px;
      height: 17px;
    }
  }
  &:hover a{
    background: $orangeGradient;
    color: $white;
  }
  &:active a{
    
  }
  &:hover svg{
    fill: $white
  }
}