.calculators{
  background-color: $whiteF7;
  padding-top: 50px;
  padding-bottom: 60px;
  @media(max-width:540px){
    padding-top: 12px;
    padding-bottom: 0px;
  }
  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 15px;
    @media(max-width:540px){
      font-size: 23px;
      margin-bottom: 5px;
    }
  }

  &__subtitle{
    color: $grey77;
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 30px;
    @media(max-width:540px){
      font-size: 12px;
      margin-bottom: 3px;
    }
  }

  &__card{
    background-color: $white;
    padding: 30px 0px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
      transform: translateY(-5px);
    }
    @media(max-width:540px){
      margin-bottom: 15px;
      padding: 15px 0px;
    }
    
    &-icon{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      & img{
        
      }
    }
    &-text{
      color: $black33;
      font-size: 18px;
      margin: auto;
      font-weight: 600;
      @media(max-width:540px){
        font-size: 14px;
      }
    }
    
  }
}