.calculator-delivery{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51,51,51, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  &__content{
    width: 724px;
    padding-top: 40px;
    background-color: $white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    position: relative;
    @media(max-width: 540px){
      width: 100%;
      height: 620px;
      overflow: auto;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 15px;
    }
    @media(max-width: 540px) and (max-height: 570px){
      height: 530px;
      overflow: auto;
    } 
  }
  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @media(max-width: 540px){
      top: 15px;
      right: 15px;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    padding-left: 40px;
    @media(max-width: 540px){
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      width: 70%;
      padding-left: 15px;
    }
  }
  &__map{
    margin-top: 5px;
    color: $orangeF1;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 30px;
    &::before{
      content: '';
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);  
      width: 24px;
      height: 24px;
      background-image: url("../assets/icon/periscope-orange.svg");
    }
  }
  &__container{
    display: flex;
    margin-bottom: 20px;
    @media(max-width: 540px){
      display: block;
      margin-bottom: 10px;
    }
  }
  &__form{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    @media(max-width: 540px){
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }
    &-name{
      width: 220px;
      margin-right: 20px;
      @media(max-width: 540px){
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
    &-wrapper{
      display: flex;
      @media(max-width: 540px){
        display: block;
      }
      &-input{
        justify-content: space-between;
        
      }
    }
    &-input{
      width: 47%;
      @media(max-width: 540px){
        display: block;
        width: 100%
      }
      &:not(:last-child){
        @media(max-width: 540px){
          margin-bottom: 10px;
        }
      }
    }
    &-radio{
      margin-right: 7px;
      @media(max-width:540px){
        transform: translateY(4px);
      }
    }
    &-checkbox{
      margin-right: 7px;
      @media(max-width:540px){
        transform: translateY(4px);
      }
    }
    &-label{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      @media(max-width:540px){
        align-items: flex-start;
      }
      &:not(:last-child){
        margin-right: 20px;
      }
    }
  }
  &__submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    @media(max-width: 540px){
      margin-top: 10px;
      & button{
        width: 100%;
      }
    }
  }
  &__footer{
    background-color: $whiteF7;
    padding: 20px 40px;
    border-radius: 0px 0px 6px 6px;
    font-size: 15px;
    @media(max-width:540px){
      padding: 15px;
      font-size: 14px;
    }
    &-wrapper{
      display: flex;
      justify-content: space-between;
      @media(max-width:540px){
        display: block;
      }
    }
    &-text{
      font-weight: 600;
      line-height: 150%;
      width: 85%;
      color:$grey77;
      @media(max-width:540px){
        width: 100%;
        font-weight: 400;
        margin-bottom: 5px;
      }
      & span{
        font-weight: 400;
      }
    }
    &-price{
      font-weight: 600;
      color: $black33;
      font-size: 18px;
      transform: translateY(-3px);
      @media(max-width:540px){
        font-size: 16px;
      }
    }
    
  }
}