.calculator-light{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51,51,51, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @media(max-width: 540px){
      top: 15px;
      right: 15px;
    }
  }
  &__content{
    width: 650px;
    background-color: $white;
    padding: 40px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    position: relative;
    @media(max-width: 540px){
      width: 100%;
      height: 620px;
      overflow: auto;
      margin-left: 15px;
      margin-right: 15px;
      padding: 15px;
    }
    @media(max-width: 540px) and (max-height: 570px){
      height: 530px;
      overflow: auto;
    } 
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    @media(max-width: 540px){
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0px;
    }
    
  }
  &__form{
    font-size: 15px;
    @media(max-width: 540px){
      font-size: 14px;
    }
    &-container{
      display: flex;
      margin-bottom: 20px;
      @media(max-width: 540px){
        display: block;
        margin-bottom: 10px;
      }
      &--radio{
        align-items: center;
      }
    }
    &-name{
      width: 220px;
      line-height: 110%;
      @media(max-width: 540px){
        margin-bottom: 10px;
        line-height: 100%;
      }
      &--padding{
        padding-top: 12px;
      }
    }
    &-size{
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-input{
        width: 96px;
        @media(max-width: 540px){
          width: 100%;
        }
      }
      & img{
        width: 24px;
        height: 24px;  
        @media(max-width: 540px){
          width: 12px;
          height: 12px;
        }  
      }
    }
    &-type{
      flex-grow: 1;
    }
    &-radio{
      display: flex;
      @media(max-width: 540px){
        display: block;
      }
    }
    &-dropdown{
      width: 100%;
      background-color: $whiteF7;
      border: 1px solid $whiteF2;
      border-radius: 3px;
      cursor: pointer;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
    &-input{
      width: 192px;
      height: 40px;
      padding-left: 10px;
      background-color: $whiteF7;
      border: 1px solid $whiteF2;
      border-radius: 3px;
    
    }
    &-label{
      cursor: pointer;
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-right: 15px;
      }
      & input{
        margin-right: 7px;
      }
    }
    &-span{}
    &-submit{
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      @media(max-width: 540px){
        margin-top: 10px;
        & button{
          width: 100%;
        }
      }
    }
  }
}