.card-info{
    margin-top: 41px;
    @media(max-width:540px){
        margin-top: 10px;
    }
    &__wrap{
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
    }
    &__titles{
        display: flex;
        justify-content: space-between;
        width: 50%;
        @media(max-width:540px){
            display: none;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color:$black33;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 16px;
        cursor: pointer;
        &--active{
            color:$orangeF1;
            border-bottom: 2px solid $orangeF1;
        }
    }
    &__text-content{
        display: flex;
        @media(max-width:540px){
            flex-direction: column;
        } 
    }
    &__text-wrap{
        margin-top: 20px;
        margin-bottom: 50px;
        &--others{
            padding-right: 150px;
            @media(max-width:540px){
                padding-right: 0;
            } 
        }
        @media(max-width:540px){
            margin-bottom: 0;
        } 
    }
    &__text-title{
        font-weight: 700;
        font-size: 15px;
        line-height: 160%;
        padding-bottom: 10px;
        @media(max-width:540px){
            font-size: 14px;
        } 
        &--padding{
            padding-top: 40px;
        }
    }
    &__text{
        font-size: 15px;
        line-height: 160%;
        color: $black33;
        margin-bottom: 10px;
        @media(max-width:540px){
            font-size: 14px;
            line-height: 150%;
        } 
        &-bold{
            font-weight: 600;
        }
        &-orange{
            color: $orangeF1;
            font-weight: 600;
        }
    }
    &__mobile-content{
        @media(max-width:540px){
            border: 1px solid $whiteF7;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
            border-radius: 6px;
            margin-bottom: 30px;
            width: 90%;
            padding-bottom: 15px;
            margin: auto;
            margin-bottom: 30px;
        }  
        &-title{
            display: none;
            @media(max-width:540px){
                display: block;
                font-size: 16px;
                line-height: 110%;
                font-weight: 600;
                padding-top:15px;
                position: relative;
                cursor: pointer;
                &::before{
                  content: '';
                  position: absolute;
                  top: 75%;
                  right: 0px;
                  transform: translateY(-50%) ;
                  width: 9px;
                  height: 5px;
                  background-image: url('../assets/icon/dropdown-arrow.svg');
                  background-repeat: no-repeat ;
                }
            } 
        } 
    }
    &__mobile-wrap{
        @media(max-width:540px){
            padding-bottom: 10px;
            border-bottom: 1px solid $whiteF2;
        }
    }
}

