.catalog{
  margin-bottom: 95px;
  @media(max-width:540px){
    margin-bottom: 35px;
  }
  &__row:not(:last-child){
    margin-bottom: 30px;
    @media(max-width:540px){
      margin-bottom: 0px;
    }
  }

  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 15px;
    @media(max-width:540px){
      font-size: 23px;
      margin-bottom: 5px;
    }
  }

  &__subtitle{
    color: $grey77;
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    margin-bottom:20px;
    @media(max-width:540px){
      font-size: 12px;
      margin-bottom: 11px;
    }
  }

  &__card{
    position: relative;
    @media(max-width: 540px){
      margin-bottom: 15px;
    }
    &:hover{
      transform: translateY(-4px);
      box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.05), 0px 2px 6px rgba(119, 119, 119, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.01);
    }
    
    &-background{
      z-index: -1;
      border-radius: 6px;
      width: 100%;
      
      &--desktop{
        @media(max-width:540px){
          display: none;
        }
      }
      &--mobile{
        @media(min-width:541px){
          display: none;
        }
      }
    }
    &-title{
      position: absolute;
      top: 20px;
      left: 20px;
      color: $white;
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      @media(max-width:540px){
        font-size: 14px;
        top: 10px;
        left: 10px;
      }
    }
    &-icon{
      position: absolute;
      right: 15px;
      top: 15px;
      @media(max-width:540px){
        top: 10px;
        right: 10px;
      }
    }
    &-link img{
      @media(max-width:540px){
        height: 100%;
      }
    }
    &-link:hover .catalog__card-title{
      color: $black33;
    }
  }
}