.client{
    &--sent{
        width: 870px;
    }
    &__download{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 23px;
        &-link{
            font-size: 15px;
            line-height: 110%;
            color: $orangeF1;
            position: relative;
            margin-right: 28px;
            border-bottom: 1px solid #fff;
            padding-top: 5px;
            cursor: pointer;
            &:hover{
                color: $orangeF1;
                border-bottom: 1px solid $orangeF1;
            }
            &::before{
              content: '';
              position: absolute;
              top: 55%;
              right: -30px;
              transform: translateY(-50%) ;
              width: 24px;
              height: 24px;
              background-image: url('../assets/icon/download.svg');
              background-repeat: no-repeat ;
            }
              &--user a{
                font-size: 16px;
                line-height: 110%;
                color: $orangeF1;
                border-bottom: 1px solid #fff;
                position: relative;
                &:hover{
                    border-bottom: 1px solid $orangeF1;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 55%;
                    right: 145px;
                    transform: translateY(-50%) ;
                    width: 24px;
                    height: 24px;
                    background-image: url('../assets/icon/arrow-left-1.svg');
                    background-repeat: no-repeat ;
                }
            }
        }
    }
    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 110%;
        color: $black33;
        &--top{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        &--order{
            font-size: 18px;
            margin-bottom: 20px;
        }
        &--pad{
            padding-bottom: 23px;
        }
    }
    &__item{
        display: flex;
        padding: 12px 15px;
        border: 1px solid rgba(255,255,255,0);
        border-bottom: 1px solid $whiteF2;
        background: #fff;
    }
    &__table{
        margin-bottom: 50px;
    }
}