.fixed{
  position: fixed;
  right: 0;
  top: 240px;
  z-index: 10;
  @media(max-width:540px){
    top: 173px;
  }
  &__login{
    border: 1px solid $whiteF7;
    border-radius: 6px 0px 0px 0px;
    background: $white;
    &:hover{
      background: $whiteF7;
    }
    &-link{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width:540px){
        width: 40px;
        height: 40px;
      }
    }
  }

  &__cart{
    background: $white;
    border: 1px solid $whiteF7;
    border-radius: 0px 0px 0px 6px;
    position: relative;
    &:hover{
      background: $whiteF7;
    }
    &-icon{}
    &-link{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width:540px){
        width: 40px;
        height: 40px;
      }
    }
    &-counter{
      position: absolute;
      right: 7px;
      top: 11px;
      width: 19px;
      height: 19px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background: $orangeGradient;
      border-radius: 50%;
      @media(max-width:540px){
        font-size: 10px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.to-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  
  border-radius: 6px;
  z-index: 20;
  background: $white;
  cursor: pointer;
  box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.05), 0px 2px 6px rgba(119, 119, 119, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.01);
  & a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    background: $whiteF2;
    @media(max-width:768px){
      background: $white;
    }
  }
  
}