.footer{
  background: $black33;
  padding-top: 30px;

  &__title{
    color: $grey77;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
  }

  &__dropdown{
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      right: -17px;
      transform: translateY(-50%);
      width: 9px;
      height: 5px;
      background-image: url('../assets/icon/dropdown-arrow.svg');
      background-repeat: no-repeat ;
      @media(min-width: 768px){
        display: none;
      }
    }
  }



  &__nav{
    &-list{
      @media(max-width: 768px){
        display: none;
      }
    }
    
    &-item{
      font-size: 15px;
      line-height: 110%;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
    &-link{
      color: $whiteF7;
      font-weight: 300;
      &:hover{
        color: $orangeF1;
      }
    }
  }

  &__contacts{
    &-item{
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 15px;
        @media(max-width:768px){
          margin-bottom: 5px;
        }
      }
    }
    &-icon{
      margin-right: 7px;
    }
    &-icon--align{
      align-self: flex-start;
    }
    &-text{
      color: $whiteF7;
      font-weight: 300;
      font-size: 15px;
      line-height: 100%;
    }
    &-subtext{
      color: $grey77;
      font-size: 12px;
      line-height: 100%;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
    &-map{
      width: 100%;
      @media(max-width: 540px){
        margin-top: 10px;
      }
      & img{
        width: 100%;
      }
    }
  }

  &__copyright{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $grey77;
    margin-top: 40px;
    @media(max-width:540px){
      display: block;
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 15px;
    }
    &-text{
      color: $grey77;
      font-size: 13px;
      line-height: 18px;
    }
    &-text:not(:last-child){
      margin-bottom: 10px;
    }
  }
}