.header{
  &__top{
    background: linear-gradient(to right, $white 50%, $whiteF7 50%);
    padding-top: 20px;
    padding-bottom: 20px;
    @media(max-width: 768px){
      background: $white;
      padding-bottom: 10px;
    }
  }

  &__wrapper{
    display: flex;
    align-items: center;
    @media(max-width: 768px){
      display: block;
    }
  }

  &__logo{
    margin-right: 30px;
    @media(max-width: 768px){
      margin-right: 0px;
      margin-bottom: 10px;
    }
    & img{
      @media(max-width:540px) {
        width: 290px;
      }
    }
  }

  &__toggle{
    margin-right: 15px;
    padding: 8px;
    background: $white;
    border: 1px solid $whiteF7;
    box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.05), 0px 2px 6px rgba(119, 119, 119, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    @media(min-width: 769px){
      display: none;
    }
    & svg{
      fill: $black33;
    }
  }

  &__phone{
    margin-right: 60px;
    @media(max-width: $md){
      display: none;
    }
    &-wrapper{
      display: flex;
      
      &:not(:last-child){
        margin-bottom: 5px;
      }
      @media(max-width:540px){
        margin-bottom: 10px!important;
      }
    }
    &-num{
      color: $black33;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      margin-right: 2px;
    }
    &-city{
      padding-top: 2px;
      font-size: 12px;
      color: $grey77;
      line-height: 100%;
    }
  }

  &__info{
    margin-right: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    @media(max-width: $md){
      display: none;
    }
    &-email{
      color: $black33;
      margin-bottom: 7px;
    }
    &-call{
      display: inline-block;
      color: $orangeF1;
      padding-bottom: 1px;
      font-weight: 500;
      cursor: pointer;
      @media(max-width: 540px){
        padding-top: 15px;
      }
      &:hover{
        padding-bottom: 0px;
        border-bottom: 1px $orangeF1 solid;
        color: $orangeF1;
      }
    }
  }

  &__search{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    &-input{
      color: $grey77;
      font-size: 15px;
      width: 100%;
      height: 40px;
      padding-left: 23px;
      background: #FFFFFF;
      border: 1px solid #F7F7F7;
      border-radius: 6px;
      @media(max-width: 768px){
        border-radius: 6px;
      }
    }
    &-link{
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../assets/icon/search.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      z-index: 1;
    }
  }

  &__nav{
    &-list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0px;
      @media(max-width: 768px){
        display: none
      }
    }
    &-item{
      flex-grow: 1;
      position: relative;
      &:hover .dropdown-menu{
        display: block;
      }
    }
    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black33;
      padding-top: 16px;
      padding-bottom: 16px;
      &:hover{
        background-color: $whiteEC;;
      }
      &--orange{
        color: $orangeF1;
        margin-right: 20px;
      }
    }
    &-menu{
      width: 120px;
      color: $orangeF1;
      font-weight: 500;
      background-color: $whiteEC;
      position: relative;
      cursor: pointer;
      &::before{
        content: '';
        position: absolute;
        top:58%;
        right: 25px;
        transform: translateY(-50%) ;
        width: 12px;
        height: 12px;
        background-image: url('../assets/icon/arrow-bottom-orange.svg');
        background-repeat: no-repeat ;
      }
    }
    &-icon{
      margin-right: 7px;
    }
  }

  &__breadcrumbs{
    background: $whiteF7;
    &-list{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-height: 44px;
      @media(max-width:540px){
        height: 60px;
        flex-wrap: wrap;
      }
    }
    &-item{
      margin-right: 24px;
      position: relative;
      font-size: 14px;
      padding-top: 1px;
      @media(max-width:540px){
        font-size: 16px;
      }
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: -17px;
        transform: translateY(-30%) rotate(-90deg);
        width: 9px;
        height: 5px;
        background-image: url('../assets/icon/dropdown-arrow-breadcrumbs.svg');
        background-repeat: no-repeat ;
      }
      &:last-child::before{
        display: none;
      }
    }
    &-link{
      color: $grey77;
      line-height: 100%;
      display: inline-block;
      &:hover{
        color: $grey77;
        border-bottom: 1px solid $greyBD ;
      }
    }
    &-icon{}
    &-current{
      color: $black33;
    }
  }

  &__title{
    margin-top: 20px;
    margin-bottom: 30px;
    & h1{
      font-weight: bold;
      font-size: 36px;
      line-height: 110%;
      @media(max-width:540px){
        font-size: 23px;
      }
    }
  }

}


.mobile-menu{
  height: 100vh;
  position: fixed;
  z-index: 25;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $whiteF7;
  overflow: auto;
  &__close{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 999;
  }
  &__nav{
    background: $white;
    &-list{
      position: relative;
      padding-bottom: 9px;
    }
    &-item{
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      padding-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 9px;

    }
    &-subitem{
      padding: 10px 0px 10px 10px;
      position: relative;
      &-pad{
        margin-top: 10px;
      }
    }
    &-link{
      color: $black33;
      font-weight: 500;
      
    }
  }
  &__footer{
    background: $whiteF7; 
  }
  &__info{
    
    font-size: 15px;
    .header__info-email{
      line-height: 100%;
      font-weight: 500;
    }
    .header__info-call{
      margin-bottom: 10px;
    }
    .header__info-num{}
    .header__info-city{}
  }
  &__dropdown{
    position: absolute; 
    right: 20px;
    width: 13px;
    height: 11px;
    top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &::before{
      content: '';
      position: absolute;
      top: 80%;
      right: 0px;
      transform: translateY(-50%) ;
      width: 14px;
      height: 9px;
      background-image: url('../assets/icon/dropdown-arrow.svg');
      background-repeat: no-repeat ;
      background-size: cover;
    }
  }
  &__content{
    display: none;
  }
  .arrow--active{
    margin-right: -1px;
  }
}