.header{
  &__top{
    background: linear-gradient(to right, $white 50%, $whiteF7 50%);
    padding-top: 20px;
    padding-bottom: 20px;
    @media(max-width: 768px){
      background: $white;
      padding-bottom: 10px;
    }
  }

  &__wrapper{
    display: flex;
    align-items: center;
    @media(max-width: 768px){
      display: block;
    }
  }

  &__logo{
    margin-right: 30px;
    @media(max-width: 768px){
      margin-right: 0px;
      margin-bottom: 10px;
    }
    & img{
      @media(max-width:540px) {
        width: 290px;
      }
    }
  }

  &__toggle{
    margin-right: 15px;
    padding: 8px;
    background: $white;
    border: 1px solid $whiteF7;
    box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.05), 0px 2px 6px rgba(119, 119, 119, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    @media(min-width: 769px){
      display: none;
    }
    & svg{
      fill: $black33;
    }
  }

  &__phone{
    margin-right: 60px;
    @media(max-width: $md){
      display: none;
    }
    &-wrapper{
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
    &-num{
      color: $black33;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      margin-right: 2px;
    }
    &-city{
      font-size: 12px;
      color: $grey77;
    }
  }

  &__info{
    margin-right: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    @media(max-width: $md){
      display: none;
    }
    &-email{
      color: $black33;
      margin-bottom: 7px;
    }
    &-call{
      display: inline-block;
      color: $orangeF1;
      padding-bottom: 1px;
      &:hover{
        padding-bottom: 0px;
        border-bottom: 1px $orangeF1 solid;
        color: $orangeF1;
      }
    }
  }

  &__search{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    
    &-input{
      color: $black33;
      font-size: 15px;
      width: 100%;
      height: 40px;
      padding-left: 23px;
      background: #FFFFFF;
      border: 1px solid #F7F7F7;
      border-radius: 6px 0px 0px 6px;
      @media(max-width: 768px){
        border-radius: 6px;
      }
    }
    &-link{
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../assets/icon/search.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      z-index: 1;
    }
  }

  &__nav{
    &-list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0px;
      @media(max-width: 768px){
        display: none
      }
    }
    &-item{
      flex-grow: 1;
    }
    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black33;
      padding-top: 16px;
      padding-bottom: 16px;
      &:hover{
        background-color: $whiteEC;;
      }
    }
    &-menu{
      color: $orangeF1;
      font-weight: 500;
      background-color: $whiteEC;
      cursor: pointer;
    }
    &-icon{
      margin-right: 7px;
    }
  }

  &__breadcrumbs{
    background: $whiteF7;
    &-list{
      display: flex;
      align-items: center;
      height: 44px;
    }
    &-item{
      margin-right: 24px;
      position: relative;
      font-size: 14px;
      padding-top: 1px;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: -17px;
        transform: translateY(-30%) rotate(-90deg);
        width: 9px;
        height: 5px;
        background-image: url('../assets/icon/dropdown-arrow.svg');
        background-repeat: no-repeat ;
      }
      &:last-child::before{
        display: none;
      }
    }
    &-link{
      color: $grey77;
      line-height: 100%;
      display: inline-block;
      &:hover{
        color: $grey77;
        border-bottom: 1px solid $greyBD ;
      }
    }
    &-icon{}
    &-current{
      color: $black33;
    }
  }

  &__title{
    margin-bottom: 23px;
    & h1{
      font-weight: bold;
      font-size: 36px;
      line-height: 110%;
    }
  }

}