.input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: $whiteF7;
  border: 1px solid $whiteF2;
  border-radius: 3px;
  font-size: 15px;
  @media (max-width:540px){
    font-size: 14px;
  }
  
  // &:focus + .headline-elem{
  //   display: block;
  // }
}
.order__form-input{
  &:focus{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.input-headline:focus{
  border: 1px solid $orangeF1;
  padding-top: 17px;
  padding-bottom: 3px;
}

.input-error{
  border: 1px solid $redEB!important;
  &::placeholder{
      color: $redEB!important;
  }
}

.input-error-text{
  color: #EB5757!important;
}

.headline-elem{
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 11px;
  z-index: 10;
  display: none;
}

.input-headline{
  &--active{
    padding-top: 17px;
    padding-bottom: 3px;
  }
}

.form-input{
  position: relative;
  flex-grow: 1;
}

textarea:focus{
  padding-top: 10px!important;
    padding-bottom: 0px!important;
}

.input-dashed{
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px dashed $black33;
}