.map{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  height: 678px;
  & iframe{
    height: 100%;
  }
  @media(max-width:540px) {
    position: relative;
    height: 200px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}


.map-container{
  height: 670px;
  padding-top: 57px;
  @media(max-width:540px) {
    height: auto;
    padding: 0;
  }
}