.modal-key {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @media(max-width: 540px){
      top: 15px;
      right: 15px;
    }
  }
  &__container {
    background-color: $white;
    padding: 40px;
    position: relative;
    z-index: 2;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  &__form {
    font-size: 15px;
  }
  &__name {
    margin-bottom: 22px;
  }
  &__content {
    display: flex;
    margin-bottom: 30px;
  }
  &__wrapper {
    width: 233px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    
    .radio {
      margin-right: 7px;
    }
  }
  &__text {
    cursor: pointer;
  }
  &__submit {
    text-align: right;
  }

  &__info {
    position: relative;
    cursor: pointer;
    &-icon {
      margin-left: 5px;
    }
    &-text {
      display: none;
      position:  absolute;
      transform: translate(-10px,-150%);
      background: $white;
      box-shadow: 0px 8px 24px rgba(119, 119, 119, 0.06), 0px 0px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.02);
      border-radius: 6px;
      width: 270px;
      text-align: center;
      padding: 5px;
      font-size: 12px;
      color: #444;
      &::before {
        position: absolute;
        content: '';
        bottom: -6px;
        left: 16px;
        width: 16px;
        height: 15px;
        background: $white;
        transform: rotate(45deg);
        box-shadow: 0px 8px 24px rgba(119, 119, 119, 0.06), 0px 0px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.02);
        z-index: -1;
      }
      
    }

   

    &:hover &-text {
      display: block;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(51,51,51, .4);
    z-index: 1;
  }
}