.order{
  margin-bottom: 92px;
  &__content{
    font-size: 15px;
    max-width: 712px;
    background-color: $white;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    margin: auto;
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
    @media(max-width:540px){
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &__form{
    padding: 40px 40px 40px 40px;
    @media(max-width:540px){
      padding: 15px;
    }
    &-container{
      margin-bottom: 20px;
      @media(max-width:540px){
        margin-bottom: 15px;
      }
    }
    &-wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      @media(max-width:540px){
        display: block;
        margin-bottom: 15px;
      }
      &--margin{
        margin-bottom: 10px;
      }
    }
    &-wrapper-checkbox{
      margin-bottom: 10px;
    }
    &-name{
      width: 190px;
      margin-right: 20px;
      @media(max-width:540px){
        margin-bottom: 10px;
      }
      &--flexstart{
        align-self: flex-start;
        padding-top: 10px;
      }
    }
    &-help{
      max-width: 422px;
      margin-left: auto;
      font-size: 14px;
      color: $grey77;
      line-height: 110%;
    }
    &-input{
      flex-grow: 1;
      @media(max-width:540px){
        width: 100%;
      }
    }
    &-textarea{
      outline: none;
      color: $black33;
      padding-top: 10px;
      padding-right: 10px;
      min-height: 85px;
      resize: none;
      &::placeholder{
        color: $black33;
      }
    }
    &-label{
      cursor: pointer;
      @media(max-width:540px){
        display: flex;
        align-items: center;
      }
    }
    &-checkbox{
      @media(max-width:540px){
        margin-right: 7px;
        
      }
    }
    &-text{
      @media(max-width:540px){
        width: 80%;
      }
    }
    &-submit{
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
    }
  }
  &__footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    background: $whiteF7;
    &-text{
      color: $grey77;
      font-size: 14px;
    }
  }
}