.price{
    &__pricelist{
        padding-bottom: 110px;
        &-checkbox{
            display: flex;
        }
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $black33;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-wrap{
            overflow: auto;
            height: 330px;
        }
        &-headline{
            background-color: $whiteF7;
            border: none;
            display: flex;
            align-items: center;
            padding: 12px 15px;
            height: 51px;
        }
        &-text{
            font-size: 14px;
            line-height: 120%;
            &--size{
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                color: $black33;
            }
            &--bold{
                font-weight: 500;
                & span{
                    display: inline-block;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 60%;
                        right:-15px;
                        transform: translateY(-50%) ;
                        width: 9px;
                        height: 6px;
                        background-image: url('../assets/icon/dropdown-arrow.svg');
                        background-repeat: no-repeat ;
                    }
                }
            }
            &--undisclosed{
                font-weight: 500;
            }
            &--pad{
                padding-left: 20px;
            }
            &--section{
                width: 291px;
            }
            &--date{
                width: 244px;
            }
            &--amount{
                width: 190px;
            }
            &--name{
                width: 220px;
                cursor: pointer;
            }
            &--sum{
                width: 110px;
            }
            &--storage{
                width: 140px;
            }
            &--delete{
                font-size: 14px;
                line-height: 120%;
                color: $greyAA;
                margin-left: 20px;
            }
        }
        &__item{
            position: relative;
            display: flex;
            align-items: center;
            padding: 12px 15px;
            background: #fff;
            border: 1px solid rgba(255,255,255,0);
            border-bottom: 1px solid $whiteF2;
            cursor: pointer;
            &:hover{
                border: 1px solid $orangeF1;
                border-radius: 6px;
            }
            &--block{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.0);
                z-index: 10;
            }
        }
        &-buttons{
            display: flex;
        }
        &-download{
            margin-right: 20px;
        }
        &-position{
            &-title{
                font-weight: 500;
                font-size: 15px;
                line-height: 160%;
                padding-left: 38px;
                padding-bottom: 7px;
                padding-top: 12px;
                &--green{
                    color: $green21;
                }
                &--red{
                    color: $redEB;
                }
            }
            &-table{
                margin-left: 34px;
                margin-bottom: 12px;
            }
            &-headline{
                background: rgba(33, 150, 83, 0.05);
                border: none;
                display: flex;
                align-items: center;
                padding: 12px 15px;
                height: 42px;
                &--red{
                    background: rgba(235, 87, 87, 0.05);
                }
            }
            &-item{
                display: flex;
                align-items: center;
                padding: 7px 15px;
                border-top: 1px solid rgba(255,255,255,0);
                border-bottom: 1px solid $whiteF2;
                cursor: pointer;
                &:hover{
                    border-top: 1px solid  $orangeF1;
                    border-bottom: 1px solid  $orangeF1;
                }
            }
        }
        &__subitem{
            display: flex;
            align-items: center;
            padding: 7px 15px;
            border-top: 1px solid rgba(255,255,255,0);
            border-bottom: 1px solid $whiteF2;
            cursor: pointer;
            &:hover{
                border-top: 1px solid  $orangeF1;
                border-bottom: 1px solid  $orangeF1;
            }
        }
        &-download{
            position: relative;
            & svg{
                position: absolute;
                top: 50%;
                right: -25px;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                fill: $orangeF1;
            }
        }
        &-delete{
            position: relative;
            & svg{
                position: absolute;
                top: 50%;
                right: -43px;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                fill: $redEB;
            }
        }
    }
}

//поведение элемента
.pricelist__toggle{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.price__pricelist__item--active{

    .price__pricelist-text span::before{
        transform: translateY(-55%) rotate(-180deg);
    }
}

.table__toggle {
    .price__pricelist-text span::before{
        transform: translateY(-55%) rotate(0deg)!important;
    }
}
.table__toggle--active{
    .price__pricelist-text span::before{
        transform: translateY(-55%) rotate(-180deg)!important;
    }

}

.price__pricelist__item--disable{
    .price__pricelist-text--bold{
        color: $greyAA;
    }
    .price__pricelist-text{
        color: $greyAA;
    }
    .checkbox-number__text--green{
        border: 1px solid $greyAA;
        color: $greyAA;
    }
    .checkbox-number__text--red{
        border: 1px solid $greyAA;
        color: $greyAA;
    }
    .price__pricelist-download{
        & svg{
            fill: $greyAA;
        }

    }
}