.products{
  margin-bottom: 30px;
  min-height: 800px;
  &__wrapper{
    display: flex;
    margin-left: auto;
    &-card{
      margin-top: 5px;
    }
  }
  &__card{
    display: flex;
    padding: 20px 20px 20px 20px;
    border: 1px solid $whiteF2;
    border-radius: 6px;
    &:hover{
      border: 1px solid $orangeF1;
    }
    &--more{
      border: none;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @media(max-width:540px){
        flex-direction: column;
      }
      &:hover{
        border: none;
      }
    }
    &:not(:last-child){
      margin-bottom: 30px;
    }
    &-—Åharacterictics{
      @media(max-width:540px){
        order: 2;
        display: flex;
        flex-direction: column;
        align-self: start;
      }
    }
    &-image{
      margin-right: 30px;
      width: 40%;
      margin-bottom: 5px;
      & img{
        width: 100%;
      }
      &--more{
        width: 50%;
        @media(max-width:540px){
          width: 100%;
        }
        & img{
          width: 100%;
        }
      }
    }
    &-title{
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 10px;
      width: 202px;
      height: 43px;
      margin-top: 10px;
      cursor: pointer;
      color: $black33;
      &--more{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-top: 15px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &-text{
      font-size: 15px;
      line-height: 110%;
      padding-bottom: 5px;
      padding-top: 5px;
      &--grey{
        color: $greyAA;
      }
      &--orange{
        color: $orangeF1;
      }
    }
    &-buy{
      width: 280px;
      height: 195px;
      border: 1px solid $whiteF7;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
      border-radius: 6px;
      padding-top: 12px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      @media(max-width:540px){
        width: 100%;
        order: 1;
      }
    }
    &-buy-wrap{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      @media(max-width:540px){
        justify-content: flex-start;
      }
    }
    &-counter{
      display: flex;
      margin-left: auto;
      padding-top: 64px;
      &--clearfix{
        padding: 0;
        margin: 0;
      }
      &--more{
        margin-left: 0;
        padding-top: 0;
      }
      &-element{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 42px;
        background: $whiteF7;
        border: 1px solid $whiteF2;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        &--vika{
          width: 50px;
          height: 56px;
        }
      }
      &-minus{
        border-radius: 6px 0px 0px 6px;
      }
      &-plus{
        border-radius: 0px 6px 6px 0px;
      }
      &-num{}
    }
    &-info{
      margin-left: 15px;
      text-align: right;
      & svg{
        right: 19%;
      }
    }
    &-price{
      color: $orangeF1;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 10px;
      @media(max-width:540px){
        font-size: 18px;
      }
    }
    &-button{
      margin-top: 6px;
      &-more{
        margin-bottom: 6px;
        margin-left: 10px;
      }
    }

    &:hover &-title{
      color: $orangeF1;
    }
    // &:hover a{
    //   border: none;
    //   padding: 12px 61px 13px 31px;
    //   background: $orangeGradient;
    //   color: $white;
    // }
    // &:hover svg{
    //   fill: $white
    // }
  }

}

.products-card{
  padding: 20px;
  border: 1px solid $whiteF2;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
  @media(max-width:540px){
    margin-bottom: 15px;
    width: 290px;
    margin: auto;
  }
  &--padding{
    @media(max-width:540px){
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 15px;
    }
  }
  
  &:hover{
    border: 1px solid $orangeF1;
    @media(max-width:540px){
      border: 1px solid $whiteF2;
    }
  }
  &__container{

  }
  &__availability{
    position: absolute;
    background: $white;
    border-radius: 3px;
    border: 1px solid $whiteF7;
    padding: 0px 7px;
    top: 15px;
    right: 15px;
  }
  &__image{
    // width: 100%;
    // & img{
    //   width: 100%;
    // }
  }
  &__price{
    font-size: 18px;
    font-weight: 600;
    color: $orangeF1;
  }
  &__button{
    display: flex;
    margin-top: 10px;
    & span{
      width: 230px;
      text-align: center;
      font-size: 18px;
      padding-top: 16px;
      padding-bottom: 18px;
      @media(max-width:540px){
        width: 100%;
      }
    }
    &:hover span {
      padding-top: 17px;
      padding-bottom: 19px;
    }
  }
  &:hover .products__card-title{
    color: $orangeF1;
    @media(max-width:540px){
      color: $black33;
    }
  }
}


.products-shortcard{
  position: relative;
  padding: 20px;
  background: $white;
  border: 1px solid $whiteF2;
  border-radius: 6px;
  margin-bottom: 30px;
  cursor: pointer;
  @media(max-width:540px){
    padding: 15px;
    margin-bottom: 15px;
  }
  
  &:hover{
    border: 1px solid $orangeF1;
  }

  &:hover .products__card-title{
    color: $orangeF1;
  }

  &__container{
    display: flex;
    align-items: center;
    @media(max-width: 540px){
      align-items: flex-end;
    }
  }

  &__mobile{
    display: flex;
    align-items: center;
    @media(max-width: 540px){
      display: block
    }
  }
  &__image{
    width: 115px;
    margin-right: 20px;
    order: 1;
    @media(max-width: 540px){
      margin-right: 0px;
    }
    & img{
      width: 100%;
    }
  }
  &__wrapper{
    margin-left: auto;
    display: flex;
    align-items: center;
    order: 3;
    @media(max-width: 540px){
      display: block
    }
  }
  &__title{
    width: 243px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    order: 2;
    @media(max-width:540px){
      display: none;
    }
    &--mobile{
      display: none;
      @media(max-width: 540px){
        display: block;
      }
    }
  }
  &__text{
    margin-right: 20px;
    padding-bottom: 0px;
    @media(max-width:540px){
      display: none;
    }
  }
  &__price{
    margin-right: 20px;
    @media(max-width:540px){
      margin: 0;
      margin-bottom: 10px;
    }
  }
  &__counter{
    @media(max-width:540px){
      justify-content: flex-end;
    }
    &-element{
      width: 40px;
      height: 40px;
    }
  }
  .products__card-title{
    @media(max-width:540px){
      font-size: 16px;
    }
  }
}