.products{
  margin-bottom: 30px;
  cursor: pointer;
  &__wrapper{
    display: flex;
    margin-left: auto;
  }
  &__card{
    display: flex;
    padding: 20px 20px 40px 20px;
    border: 1px solid $whiteF2;
    border-radius: 6px;
    &:hover{
      border: 1px solid $orangeF1;
    }
    &--more{
      border: none;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @media(max-width:540px){
        flex-direction: column;
      }
      &:hover{
        border: none;
      }
    }
    &:not(:last-child){
      margin-bottom: 30px;
    }
    &-—Åharacterictics{
      @media(max-width:540px){
        order: 2;
        display: flex;
        flex-direction: column;
        align-self: start;
      }
    }
    &-image{
      margin-right: 30px;
      width: 40%;
      & img{
        width: 100%;
      }
      &--more{
        width: 45%;
        @media(max-width:540px){
          width: 100%;
        }
        & img{
          width: 100%;
        }
      }
    }
    &-title{
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 10px;
      width: 202px;
      &--more{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-top: 13px;
      }
    }
    &-text{
      font-size: 15px;
      line-height: 110%;
      padding-bottom: 7px;
      &--grey{
        color: $greyAA;
      }
      &--orange{
        color: $orangeF1;
      }
    }
    &-buy{
      width: 279px;
      height: 180px;
      border: 1px solid $whiteF7;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
      border-radius: 6px;
      padding: 12px 15px;
      @media(max-width:540px){
        width: 100%;
        order: 1;
      }
    }
    &-buy-wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width:540px){
        justify-content: flex-start;
      }
    }
    &-counter{
      display: flex;
      margin-left: auto;
      padding-top: 72px;
      &--more{
        margin-left: 0;
      }
      &-element{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;
        background: $whiteF7;
        border: 1px solid $whiteF2;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
      }
      &-minus{
        border-radius: 6px 0px 0px 6px;
      }
      &-plus{
        border-radius: 0px 6px 6px 0px;
      }
      &-num{}
    }
    &-info{
      margin-left: 15px;
      text-align: right;
    }
    &-price{
      color: $orangeF1;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 10px;
      @media(max-width:540px){
        font-size: 18px;
      }
    }
    &-button{
      margin-top: 14px;
      &--more{
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    &:hover &-title{
      color: $orangeF1;
    }
    &:hover a{
      border: none;
      padding: 12px 61px 13px 31px;
      background: $orangeGradient;
      color: $white;
    }
    &:hover svg{
      fill: $white
    }
  }
}

.products-card{
  width: 270px;
  padding: 20px;
  border: 1px solid $whiteF2;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 30px;
  &:hover{
    border: 1px solid $orangeF1;
  }
  &__availability{
    position: absolute;
    background: $white;
    border-radius: 3px;
    border: 1px solid $whiteF7;
    padding: 0px 7px;
    top: 15px;
    right: 15px;
  }
  &__image{
    width: 100%;
    padding-top: 19px;
    & img{
      width: 100%;
    }
  }
  &__price{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $orangeF1;
  }
  &__button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    & a{
      width: 230px;
      text-align: center;
      font-size: 18px;
      padding-top: 16px;
      padding-bottom: 18px;
    }
    &:hover a {
      padding-top: 17px;
      padding-bottom: 19px;
    }
    & svg{
      right: 66px;
    }
  }
  
}
