.profile{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51,51,51, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &__content{
    padding: 40px;
    background-color: $white;
    width: 580px;
    position: relative;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
  }
  &__form{
    font-size: 15px;
  }
  &__wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }
  &__name{
    width: 100px;
    margin-right: 20px;
  }
  &__input{
    flex-grow: 1;
    & input{
      width: 100%;
      &:focus{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  &__submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  .custom__select{
    flex-grow: 1;
  }
}