.register{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51,51,51, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    width: 840px;
    height: 345px;
    background: rgba(51, 51, 51, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    padding: 40px 40px 60px 40px;
    display: flex;
    justify-content: flex-end;
    @media (max-width:540px){
      background: none;
      width: 100%;
      height: 100%;
      backdrop-filter: none;
      padding: 10px;
    }
    &-login{
      justify-content: flex-start;
    }
  }
  &__content{
    width: 40%;
    padding-left: 40px;
    @media (max-width:540px){
      display: none;
    }
    &-login{
      padding-left: 0px;
      padding-right: 40px;
      
    }
    &-title{
      font-weight: 600;
      font-size: 24px;
      color: $whiteF7;
      line-height: 120%;
      margin-bottom: 20px;
      
    }
    &-text{
      font-weight: 300;
      font-size: 15px;
      color: $whiteF7;
      margin-bottom: 20px;
      
    }
    &-button{
      
      & button{
        background: none;
      }
    }
  }
  &__form{
    border-radius: 6px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 463px;
    @media (max-width:540px){
      position: relative;
      width: 100%;
      height: 362px;
      left: 0px;
    }
    &-login{
      left: inherit;
      right: 40px;
      @media (max-width:540px){
        right: 0px;
      }
    }
    &-content{
      padding: 40px;
      background-color: $white;
      border-radius: 6px 6px 0px 0px;
      @media (max-width:540px){
        padding: 15px;
      }
    }
    &-title{
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
      @media (max-width:540px){
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
    &-close{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      @media (max-width:540px){
        top: 10px;
        right: 10px;
      }
    }
    &-input{
      position: relative;
      margin-bottom: 20px;
      @media (max-width:540px){
        margin-bottom: 10px;
      }
      & input{
        width: 100%;
      }
    }
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-label{
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;
      @media(max-width:540px){
        font-size: 12px;
      }
    }
    &-checkbox{
      margin-right: 7px;
    }
    &-text{}
    &-link{
      font-size: 15px;
      text-transform: uppercase;
      color: $grey77;
      &:hover{
        color: $grey77;
      }
      @media(max-width:540px){
        font-size: 12px;
        text-transform: none;
      }
    }
    &-button{
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      @media (max-width:540px){
        margin-top: 10px;
      }
      & button{
        background: none;
        @media (max-width:540px){
          width: 100%;
        }
      }
    }
    &-footer{
      padding: 20px 40px;
      color: $grey77;
      background: $whiteF7;
      border-radius: 0px 0px 6px 6px;
      font-size: 14px;
      @media (max-width:540px){
        padding: 15px;
      }
    }
  }
  &__mobile{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    @media(min-width:541px){
      display: none;
    }
    &-text{
      margin-right: 3px;
    }
    &-trigger{
      color: $orangeF1;
    }
  }
}