.settings{
    margin-left: 30px;
    .custom__select-content {
        border-top: none;
    }
    .custom__select-content{
        border: none;
        background-color: #FFFFFF;
        padding: 0;
        top: 27px;
        box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 5px rgba(0, 0, 0, 0.01);
        border-radius: 6px;
    }
    .custom__select--active{
        border: none;
        border-radius: 0px;
    }
    .custom__select-title--active::before {
        background-image: none;
    }
    .custom__select-title{
        color: $black33;
        border-bottom: 1px dashed $black33;
        line-height: 100%;
        display: inline-block;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
        &:hover{
            border-bottom: 1px dashed $white;
        }
    }
    .custom__select-title::before{
        background-image: none;
    }
    .custom__select-text:not(:last-child) {
        margin-bottom: 0;
    }
    .custom__select-text{
        color: $black33;
        font-size: 15px;
        display: inline-block;
        padding: 5px;
        padding-bottom: 7px;
        &:hover{
          color: $black33;
        }
      }
    &__submit{
        margin-bottom: 98px;
    }
    &__content{
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $black33;
            padding-top: 25px;
            padding-bottom: 20px;
        }
        &-item{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        &-text{
            font-size: 15px;
            line-height: 110%;
            color: $black33;
            &--name{
                width: 350px;
            }
            &--mail{
                width: 225px;
            }
            &--green{
                display: inline-block;
                border-bottom: 1px dashed $green21;
                color: $green21;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px dashed $white;
                }
                &:active{
                    border-bottom: 1px dashed $white;
                }
            }
        }
        &-delete{
            cursor: pointer;
        }
    }
    &-password{
        cursor: pointer;
        border-bottom: 1px dashed $black33;
        position: relative;
        &:hover{
            border-bottom: 1px dashed $white;
        }
    }
    &__btn-add{
        font-size: 15px;
        line-height: 110%;
        position: relative;
        margin-top: 20px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../assets/icon/plus-2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 24px;
            height: 24px;
            right: -32px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__input-name{
        width: 431px;
    }
    &__input-mail{
        width: 298px;
    }
    &__input-password{
        width: 169px;
    }
}
.change-password{
    width: 422px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    padding: 15px;
    margin-left: 66px;
    position: absolute;
    z-index: 99;

    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, 0);
        z-index: -10;
    }
}
.change-password-button{
    display: flex;
    justify-content: flex-end;
}
.change-password-btn{
    border: 1px solid $black33;
    border-radius: 6px;
    background: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    color: $black33;
    padding: 6px 10px;
    width: 160px;
    &:hover{
        border: 1px solid $orangeF1;
        color: $orangeF1;
    }
    &:active{
        border: 1px solid $orangeF1;
        color: $orangeF1;
        box-shadow: inset 0px 2px 15px rgba(218, 125, 0, 0.2);
    }
}
.change-password__content{
    z-index: 1;
}

.settings-dropdown{
    width: 92px;
    margin-right: 21px;
}


.settings__content-item:last-child{
    margin-bottom: 0px;
}
.settings__content-text--person{
    width: 132px;
    margin-right: 28px;
}