.settings{
    margin-left: 30px;
    &__content{
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $black33;
            padding-top: 25px;
            padding-bottom: 20px;
        }
        &-item{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        &-text{
            font-size: 15px;
            line-height: 110%;
            color: $black33;
            &--name{
                width: 350px;
            }
            &--mail{
                width: 225px;
            }
            &--person{
                width: 165px;
            }
            &--active{
                width: 106px;
            }
            &--green{
                display: inline-block;
                border-bottom: 1px dashed $green21;
                color: $green21;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px dashed $white;
                }
            }
        }
        &-delete{
            cursor: pointer;
        }
    }
    &-password{
        cursor: pointer;
        border-bottom: 1px dashed $black33;
        position: relative;
        &:hover{
            border-bottom: 1px dashed $white;
        }
    }
    &__btn-add{
        font-size: 15px;
        line-height: 110%;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../assets/icon/plus-2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 24px;
            height: 24px;
            right: -32px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__input-name{
        width: 431px;
    }
    &__input-mail{
        width: 298px;
    }
    &__input-password{
        width: 169px;
    }
}
.change-password{
    width: 422px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    padding: 15px;
    margin-left: 66px;
    position: absolute;
    z-index: 10;
}
.change-password-button{
    display: flex;
    justify-content: flex-end;
}
.change-password-btn{
    border: 1px solid $black33;
    border-radius: 6px;
    background: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    color: $black33;
    padding: 6px 10px;
    width: 160px;
    &:hover{
        border: 1px solid $orangeF1;
        color: $orangeF1;
    }
    &:active{
        border: 1px solid $orangeF1;
        color: $orangeF1;
        box-shadow: inset 0px 2px 15px rgba(218, 125, 0, 0.2);
    }
}
// .password-overlay{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     background-color:#FFFFFF;
//     opacity: 0;
// }
.settings-dropdown{
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    padding: 5px;
    width: 89px;
}