.sorting{
  font-size: 15px;
  margin-bottom: 30px;
  @media(max-width:540px){
    font-size: 14px;
  }
  &__container{
    display: flex;
    align-items: center;
    @media(max-width:540px){
      display: block;
      margin-bottom: 15px;
    }
  }

  &__price{
    display: flex;
    align-items: center;
    margin-right: 20px;
    @media(max-width:540px){
      margin-right: 0;
      margin-bottom: 15px;
    }
    &-text{
      margin-right: 7px;
    }
    &-dropdown{
      color: $black33;
      background: $whiteF7;
      border: 1px solid $whiteF2;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      width: 220px;
      
    }
  }

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__availability{
    &-label{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &-checkbox{
      margin-right: 7px;
    }
    &-span{
    }
  }

  &__view{
    display: flex;
    align-items: center;
    &-button{
      &--mobile{
        @media(max-width:540px){
          display: none;
        }
      }
    }
    &-label{
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 2px;
    }
  
    &-icon{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      border: 1px solid $whiteF7;
      border-radius: 6px;
      &:hover{
        background: $whiteF7
      }
      
    }
    & svg{
      height: 10px;
      width: 18px;
      fill: $greyAA;
    }
    &-checkbox{
      appearance: none;
      &:checked + .sorting__view-icon svg {
        fill: orange
      }
      &:checked + .sorting__view-icon{
        background: $white!important;
        border: 1px solid $orangeF1;
      }
    }
  }
}