.stages{
  color: $black33;
  position: relative;
  margin-bottom: 50px;
  &__title{
    font-weight: bold;
    font-size: 24px; 
    margin-bottom: 27px; 
  }
  &__wrapper{
    display: flex;
  }
  &__background{
    position: absolute;
    right: 0;
    top: -90px;
  }
  &__content{
    margin-top: 33px;
    &-text{
      font-weight: 500;
      font-size: 18px;
      line-height: 21,6px;
      margin-bottom: 80px;
      max-width: 450px;
      min-height: 50px;
      &:nth-child(odd){
        transform: translateX(-132px);
      }
      &:nth-child(even){
        margin-left: 30px;
      }
    }
  }
}