.storage{
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
    }
    &__choose{
        display: flex;
        &-wrap{
            border: 1px solid $black33;
            &:hover{
                border: 1px solid $orangeF1;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            color:$black33;
            padding: 11px 15px;
            cursor: pointer;
            &:hover{
                color:$orangeF1;
            }
        }
    }
    &__search{
        display: flex;
        align-items: center;
        width: 45%;
        &-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            color: $black33;
            padding-right: 7px;
        }
    }
    &__download{
        display: flex;
        justify-content: space-between;
        padding-bottom: 23px;
        &-title{
            font-size: 15px;
            line-height: 110%;
            color: $black33;
            padding-left: 15px;
        }
        &-link{
            font-size: 15px;
            line-height: 110%;
            color: $orangeF1;
            position: relative;
            margin-right: 28px;
            border-bottom: 1px solid #fff;
            &:hover{
                color: $orangeF1;
                border-bottom: 1px solid $orangeF1;
            }
            &::before{
              content: '';
              position: absolute;
              top: 50%;
              right: -30px;
              transform: translateY(-50%) ;
              width: 24px;
              height: 24px;
              background-image: url('../assets/icon/download.svg');
              background-repeat: no-repeat ;
            }
        }
    }
    &__table{
        margin-bottom: 106px;
    }
    &__headline{
        display: flex;
        align-items: center;
        height: 42px;
        background: $whiteF7;
        padding: 0px 15px;
    }
    &__text{
        font-size: 16px;
        line-height: 110%;
        color: $black33;
        &--bold{
            font-weight: 500;
        }
        &-mark{
            width: 160px;
        }
        &-size{
            width: 140px;
        }
        &-amount{
            width: 140px;
        }
        &-breakdown{
            width: 334px;
        }
        &-sum{
            width: 145px;
        }
    }
    &__item{
        display: flex;
        padding: 12px 15px;
        border: 1px solid rgba(255,255,255,0);
        border-bottom: 1px solid $whiteF2;
        background: #fff;
        cursor: pointer;
        &:hover{
            border: 1px solid $orangeF1;
            border-radius: 6px;
        }
      }
}
.border-city{
    border-radius: 6px 0px 0px 6px;
}
.border-all{
    border-radius: 0px 6px 6px 0px;
}
.border-none{
    border-left:none;
    border-right:none;
}
