.storage{
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
    }
    &__choose{
        display: flex;
        &-wrap{
            border: 1px solid $black33;
            &--active{
                border: 1px solid $orangeF1;
            }
            &:hover{
                border: 1px solid $orangeF1;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            color:$black33;
            padding: 11px 15px;
            cursor: pointer;
            &--active{
                color:$orangeF1;
            }
            &:hover{
                color:$orangeF1;
            }
        }
    }
    &__search{
        display: flex;
        align-items: center;
        width: 45%;
        &-clients{
            width: 55%;
        }
        &-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            color: $black33;
            padding-right: 7px;
        }
    }
    &__download{
        display: flex;
        justify-content: space-between;
        padding-bottom: 23px;
        &-title{
            font-size: 15px;
            line-height: 110%;
            color: $black33;
            padding-left: 15px;
        }
        &-link{
            font-size: 15px;
            line-height: 110%;
            color: $orangeF1;
            position: relative;
            margin-right: 28px;
            border-bottom: 1px solid #fff;
            &:hover{
                color: $orangeF1;
                border-bottom: 1px solid $orangeF1;
            }
            &::before{
              content: '';
              position: absolute;
              top: 50%;
              right: -30px;
              transform: translateY(-50%) ;
              width: 24px;
              height: 24px;
              background-image: url('../assets/icon/download.svg');
              background-repeat: no-repeat ;
            }
        }
    }
    &__table{
        margin-bottom: 106px;
        &--order{
            margin-bottom: 20px;
        }
    }
    &__headline{
        display: flex;
        align-items: center;
        height: 42px;
        background: $whiteF7;
        padding: 0px 15px;
    }
    &__text{
        font-size: 16px;
        line-height: 110%;
        color: $black33;
        &--title{
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: $black33;
        }
        &--sub{
            font-size: 14px;
            line-height: 120%;
            color: $black33;
            padding-top: 3px;
            &-company{
                font-size: 12px;
                line-height: 100%;
                color: $grey77;
                padding-top: 5px;
            }
        }
        &--red{
            color: $redEB;
        }
        &--orange{
            color: $orangeF1;
        }
        &--grey{
            color:$grey77;
        }
        &--time{
            display: flex;
        }
        &--date{
            padding-right: 20px;
        }
        &--bold{
            font-weight: 500;
        }
        &-mark{
            width: 160px;
        }
        &-size{
            width: 120px;
        }
        &-amount{
            width: 120px;
        }
        &-breakdown{
            width: 249px;
        }
        &-sum{
            width: 120px;
        }
        &-year{
            width: 240px;
        }
        &-name{
            width: 244px;
        }
        &-type{
            width: 160px;
        }
        &-company{
            width: 266px;
            &--user{
                width: 310px;
            }
            &--sent{
                width: 280px;
            }
            &--order{
                width: 360px;
            }
        }
        &-inn{
            width: 120px;
        }
        &-phone{
            width: 160px;
        }
        &-number{
            width: 259px;
            &--user{
                width: 220px;
            }
            &--sent{
                width: 190px;
            }
            &--order{
                width: 140px;
            }
        }
        &-time{
            width: 180px;
            &--user{
                width: 200px;
            }
            &--sent{
                width: 180px;
            }
            &--order{
                width: 150px;
            }
        }
        &-status{
            width: 250px;
            &--sent{
                width: 200px;
            }
            &--order{
                width: 190px;
            }
        }
        &-total{
            width: 150px;
            &-end{
                text-align: end;
            }
        }
    }
    &__item{
        display: flex;
        padding: 12px 15px;
        border: 1px solid rgba(255,255,255,0);
        border-bottom: 1px solid $whiteF2;
        background: #fff;
        cursor: pointer;
        &:hover{
            border: 1px solid $orangeF1;
            border-radius: 6px;
        }
        &:hover .storage__text--title{
            color: $orangeF1;
        }
        &:hover .storage__text-name {
            color: $orangeF1;
        }
        &:hover .storage__text-phone {
            color: $orangeF1;
        }
        &:hover .storage__text-mail {
            color: $orangeF1;
        }
      }
}
.border-city{
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    &:hover + .border-city-second{
        border-left: none;
    }
}
.border-all{
    border-radius: 0px 6px 6px 0px;
    &--clients{
        border-left: 1px solid $orangeF1;
    }
}
.border-city-second{
    border-left: 1px solid $orangeF1;
    border-right:none;
    &:hover + .border-all{
        border-left:none;
    }
}
.border-clients{
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    &:hover + .border-all{
        border-left: none;
    }
}
