.template{
  color: $black33;
  flex-grow: 1;
  padding-left: 30px;
  margin-bottom: 180px;
  &__subtitle{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__add{
    margin-bottom: 20px;
    &-text{
      display: inline-block;
      color: $orangeF1;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border-bottom: 1px dashed rgba(241,151,30, 1);
      cursor: pointer;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        right: -20px;
        top: 55%;
        transform: translateY(-50%);
        background-image: url('../assets/icon/plus.svg');
        background-repeat: no-repeat;
      }
      &:hover{
        border-bottom: 1px dashed rgba(241,151,30, 0);
      }
    }
   
  }
  &__notification{
    &-warning{
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      padding: 10px 10px 10px 35px;
      border: 1px solid $orangeF1;
      border-radius: 6px;
    }
  }
  &__form{
    font-size: 15px;
    &-wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &-name{
      width: 160px;
      margin-right: 20px;
    }
    &-name--align{
      align-self: flex-start;
    }
    &-label{
      display: block;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
  &__calculator{
    color: $black33;
    &-title{
      font-weight: 400;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      & input{
        margin-left: 3px;
        width: 197px;
      }
    }
    &-add{
      padding: 10px;
      border: 1px solid $whiteF2;
      border-radius: 3px;
      margin-bottom: 20px;
    }
    &-text{
      font-weight: 300;
      margin-bottom: 25px;
     
    }
    &-toggle{
      border-bottom: 1px dashed $black33;
      cursor: pointer;
      margin-right: 3px;
      &:hover{
        color: $orangeF1;
        border-bottom: 1px dashed $orangeF1;
      }
    }
    &-add-word{
      font-weight: 300;
      display: inline-block;
      border-bottom: 1px dashed $black33;
      cursor: pointer;
      &:hover{
        color: $orangeF1;
        border-bottom: 1px dashed $orangeF1;
      }
    }
    &-subtext{
      font-weight: 300;
      color: $grey77;
    }

  }
  &__table{
    margin-bottom: 20px;
  }
  &__headline{
    height: 51px;
    background: $whiteF7;
    display: flex;
    align-items: center;
    padding: 12px 15px 21px 15px;
  }
  &__text{
    font-size: 14px;
    line-height: 120%;
    color: $black33;
    &--bold{
      font-weight: 500;
    }
    &--size{
      font-size: 16px;
      line-height: 110%;
    }
    &--name{
      width: 240px;
    }
    &--tag{
      width: 125px;
    }
    &--date{
      width: 407px;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid $whiteF2;
    cursor: pointer;
    &:hover{
        border: 1px solid $orangeF1;
        border-radius: 6px;
    }
    &:hover .template__icons{
      visibility: visible;
    }
  }
  &__icons{
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  &__edit{
    margin-right: 20px;
  }
}