.template{
  color: $black33;
  flex-grow: 1;
  padding-left: 30px;
  &__add{
    margin-bottom: 20px;
    &-text{
      display: inline-block;
      color: $orangeF1;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border-bottom: 1px dashed rgba(241,151,30, 0);
      cursor: pointer;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        right: -20px;
        top: 55%;
        transform: translateY(-50%);
        background-image: url('../assets/icon/plus.svg');
        background-repeat: no-repeat;
      }
      &:hover{
        border-bottom: 1px dashed rgba(241,151,30, 1);
      }
    }
   
  }
  &__notification{
    &-text{
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    &-warning{
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      padding: 10px 10px 10px 35px;
      border: 1px solid $orangeF1;
      border-radius: 6px;
    }
  }
}