.dropdown-menu{
    height: 475px;
    width: 1170px;
    margin: auto;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    left: 0;
    z-index: 20;
    background-color: $white;
    display: none;
  &__list{
    width: 285px;
    height: 458px;
    margin-top: 20px;
    position: relative;
    &-line{
      &::before{
        position: absolute;
        content: '';
        height: 446px;
        width: 1px;
        background-color: #FFF6EC;
        right: -24px;
      }
    }
  }
  &__wrap{
  }
  &__title{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 110%;
    color: $black33;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top:50%;
      right: 0px;
      transform: translateY(-50%) ;
      width: 5px;
      height: 9px;
      background-image: url('../assets/icon/dropdown-menu-arrow.svg');
      background-repeat: no-repeat ;
    }
    &:hover{
      color: $orangeF1;
    }
    &:hover::before{
      display: none;
    }
    &--third::before{
      display: none;
    }
    &-pad{
      padding-left: 44px;
    }
  }
  &__sub-list{
    width: 290px;
    height: 458px;
    display: none;
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 0;
    &:hover{
      display: block;
    }
  }
}
.list-container{
  position: relative;

} 
.item-title{
  padding: 5px 10px 5px 10px;
  text-decoration: underline;
  cursor: pointer;
}
.item-title:hover{
  color: orange;
}
.sub-list{
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: -1px;
  transform: translateX(100%);
  height: 300px;
  width: 300px;
  display: none;
}
.sub-list:hover{
  display: block;
}
.item-title:hover + .sub-list{
  display: block;
}

.dropdown-menu__title:hover + .dropdown-menu__sub-list{
  display: block;
}



