.list{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin-top: 100px;
}
.list-container{
  position: relative;
} 
.item-title{
  padding: 5px 10px 5px 10px;
  text-decoration: underline;
  cursor: pointer;
}
.item-title:hover{
  color: orange;
}
.sub-list{
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: -1px;
  transform: translateX(100%);
  height: 300px;
  width: 300px;
  display: none;
}
.sub-list:hover{
  display: block;
}
.item-title:hover + .sub-list{
  display: block;
}
